<h1>АВТОНОВОСТИ</h1>
<% content_for :body do %>
<div id="news_wrap">
  <% if @items.any? %>
    <% @items.each_with_index do |item, i| %>
      <article <%= ((i + 1) % 3 == 0) ? ("class=news_div_last") : ('class=news_div') %> >
        <div class="news_img_prw">
          <%= image_tag(item.preview_img.thumbnail(:geometry => '280x210#').url) %>
        </div>
        <div class="news_date">
          <small><%= l(item.publish_date, :format => :long) %></small>
        </div>
        <h2><%= truncate  item.title, :length => 60 %></h2>
        <p>
          <%= truncate  item.body, :length => 200, :preserve_html_tags => true %>
        </p>
        <div class="read_more">
          <em><%= link_to t('.read_more'), refinery.news_item_path(item) %></em>
        </div>
      </article>
    <% end %>

<%#= will_paginate @items %>
  
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
</div>
<% end %>

<%= render "/refinery/content_page" %>
